@charset "utf-8"

.heading
  
  &-primary
    position: relative
    font-size: 40px
    color: #fff
    margin-bottom: 20px
    padding-bottom: 10px
    border-bottom: 2px solid $success

  &-secondary
    position: relative
    font-size: 25px
    color: #fff
    margin-bottom: 20px
    // padding-left: 20px
    // border-left: 4px solid $success

  +lg

    &-primary
      font-size: 34px

    &-secondary
      font-size: 20px

  +sm

    &-primary
      font-size: 27px

    &-secondary
      font-size: 22px
